.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
#h{
    position: absolute;
    right: 720px;
    font-style: italic;
   
    
}
#a{
    position: absolute;
    right: 600px;
    font-style: italic;
}
#s{
    position: absolute;
    right: 400px;
    font-style: italic;
}
#p{
    position: absolute;
    right: 280px;
    font-style: italic;
}
#c{
    position: absolute;
    right: 150px;
    font-style: italic;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
    color:rgb(0, 0, 0);
}
.left-col{
    margin-left: 6%;
}
.left-col h2{
    position: absolute;
    top: -50px;
    font-size: 50px;
    line-height: 80px;
    left: 200px;
    text-shadow: 4px 4px rgb(138, 138, 138);
}
.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-right: 15px;
    position: absolute;
    top: 30px;
    left: 750px;
    text-shadow: 2px 2px rgb(138, 138, 138);
}
#icon{
    width: 20px;
    cursor: pointer;
    position: absolute;
    left: 870px;
    top: 48px;
}
